/* boilerplate code */
*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
    background-color: rgb(192, 182, 182);
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/* navebar styling  */

.nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 50px;
    position: fixed;
    border-bottom:4px solid black ;
    background-color:rgb(192, 182, 182);
}
.nav-options a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 40px;
    font-weight: 600;
}
.nav-options a:hover{
    color: palegreen;
    border-bottom: 4px solid black;
}
.nav-btn button{
    height: 40px;
    width: 150px;
    background-color: palegreen;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}
.nav-btn button:hover{
    background-color: black;
    color: white;
}
/* herosection part */
.herosection{
    height: 500px;
    width: 100%;
    display: flex;
}
.herosection-left{
    height: 500px;
    width:50% ;
}
.herosection-left-1{
    padding-left: 50px;
    padding-top: 150px;
}
.herosection-left-para{
    font-size: 24px;
    padding: 5px;
    font-size: 18px;
}
.herosection-left-h1{
    font-size: 22px;
    color: palegreen;
    padding-bottom: 5px;
}

.herosection-right{
    height: 500px;
    width: 50%;
}
.herosection-right-myimage{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 20%;
    left: 60%;
    border: 10px solid palegreen;
}
/* about-me */
.about{
    height: 450px;
    width: 100%;
    display: flex;
}
.about-left{
    height: 450px;
    width: 35%;
}
.about-left-1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}
.about-left-image{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    border: 10px solid palegreen;


}

.about-right{
    height: 450px;
    width: 50%;
}
.about-right-h1{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    color: palegreen;
}
.about-right-para{
    color: black;
    font-size: 20px;
}
.about-right-education{
    padding-top: 20px;
    font-size: 18px;
}
.about-right p{
    color: black;
    font-size: 18px;
}
.about-right-skills{
    padding-top: 4px;
}
.about-right-list{
    padding-top: 5px;
}
.about-right-list p{
     padding-top: 5px;
    font-size: 18px;
}
.about-right-list ul li{
    color: black;
}
/* services*/
.services{
    height: 300px;
    width: 100%;
}
.services-h1{
    font-size: 17px;
    margin: 20px;
    color: palegreen;
}
.services-boxes{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}
.services-box-1{
    height: 250px;
    width: 250px;
    background-color: black;
    color: palegreen;
    border-radius: 20px;
    scale: 0.90;
    transition: scale 1s 1s ease-in;
    
}
.services-box-1 h2{
    padding-top: 20px;
    padding-left: 20px;
}
.services-box-1:hover{
    background-color: palegreen;
    color: black;
    scale: 1;
    
}
.services-box-1 p{
    font-size: 13px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 10px;
    text-align: center;
}
.services-box-2{
    height: 250px;
    width: 250px;
    background-color: black;
    color: palegreen;
    border-radius: 20px;
    scale: 0.90;
    transition: scale 1s 1s ease-in;
}
.services-box-2 h2{
    padding-top: 20px;
    padding-left: 20px;
}
.services-box-2:hover{
    background-color: palegreen;
    color: black;
    scale: 1;
    
}
.services-box-2 p{
    font-size: 13px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 50px;
    text-align: center;
}
.services-box-3{
    height: 250px;
    width: 250px;
    background-color: black;
    color: palegreen;
    border-radius: 20px;
    scale: 0.90;
    transition: scale 1s 1s ease-in;
}
.services-box-3 h2{
    padding-top: 20px;
    padding-left: 20px;
}
.services-box-3:hover{
    background-color: palegreen;
    color: black;
    scale: 1;
    
}
.services-box-3 p{
    font-size: 13px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 10px;
    text-align: center;
}
/* projects */
.projects{
    height: 500px;
    width: 100%
}
.projects-h1{
    font-size: 18px;
    margin-left: 30px;
    padding-top: 60px;
    color: palegreen;
}
.projects-boxes{
    height: 400px;
    width:100% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}
.projects-box-1{
    height: 350px;
    width: 250px;
    background-image: url("pic22.PNG" );
    background-size: cover;
    border: 13px solid black;
    border-radius: 5px;
    margin-right: 20px;
    transition: scale 0.5s 0.5s ease-in;
}
.projects-box-1:hover{
    border:13px solid palegreen;
    scale: 1.1;
}
.projects-box-2{
    height: 350px;
    width: 720px;
    background-image: url("pic3.PNG");
    background-size: cover;
    border: 13px solid black;
    border-radius: 5px;
    border-radius: 5px;
    margin-right: 10px;
    scale: 1;
    transition: border 0.5s 0.5s ease-in;
}
.projects-box-2:hover{
    border:13px solid palegreen;
}

.projects-box-3{
    height: 350px;
    width: 250px;
    background-image: url("PIC4.PNG");
    background-size: cover;
    border: 13px solid black;
    border-radius: 5px;
    margin-left: 15px;
    transition: scale 0.5s 0.5s ease-in;
    border-radius: 5px;
    
}
.projects-box-3:hover{
    border:13px solid palegreen;
    scale: 1.1;

}
.link{

    display: flex;
    justify-content: center;
    gap: 290px; 
}
.click{
    height: 40px;
    width: 150px;
    font-size: 17px;
    margin-top: 5px;
    background-color: palegreen;
    border-radius: 10px;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-weight: 700;
    
}
.click:hover{
background-color: black;
color: white;
}
.contact{
    height: 600px;
    width: 100%;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}
.contact-left{
    height: 500px;
    width: 40%;
}
.contact-left-h1{
    font-size: 18px;
    color: palegreen;
    margin: 50px;
    margin-left: 30px;

}
.contact-left-telegrame{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 30px;
    gap: 10px;
}
.contact-left-telegrame i{
    font-size: 30px;
    color: blue;

}
.contact-left-telegrame span{
    font-size: 20px;
    font-weight: 600;

}
.contact-left-phone{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 30px;
    gap: 10px;
}
.contact-left-phone i{
    font-size: 30px;
    color: green;

}
.contact-left-phone span{
    font-size: 20px;
    font-weight: 600;

}
.contact-left-socialmedia{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 30px;
}
.contact-left-socialmedia i{
    margin-left: 10px;
}
.contact-right{
    height: 500px;
    width: 50%;
}
.input{
    display: flex;
    flex-direction: column;
}
.input .input1{
    height: 50px;
    width: 500px;
    margin-top: 70px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 20px;
}
.input .input2{
    height: 50px;
    width: 500px;
    margin-top: 70px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 20px;
}
textarea{
    height: 100px;
    width: 500px;
    border: 2px solid black;
    margin-top: 50px;
    border-radius: 10px;
    font-size: 20px;
}
.send-btn button{
    height: 50px;
    width: 500px;
    margin-top: 20px;
    background-color: palegreen;
    color: black;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
.send-btn button:hover{
    background-color: black;
    color: white;
}






